body{
  margin:0;
  padding:0;
}
.root{
  width:100vw;
  margin:0;
  padding:0;
  height: 300vh;
  display:flex;
  justify-content: center;
}

.main{
  max-width: 60vw;
  display:flex;
  flex-direction: column;
  table {
    width: 35vw;
    border-collapse: collapse;
    height:15vh;
  }
  
  td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 150%;
  }
  
  td, th {
    border-left: none;
    border-right: none;
  }
}

